header {
  width: 100%;
  margin-bottom: 2rem;
}

.header-bar {
  width: 100%;
  height: 10vh;
  padding: 0 10vw;
  display: flex;
}

.header-logo {
  align-items: center;
}

.nationnote-icon {
  width: 30rem;
  height: 10rem;
}

.header-nav {
  padding-top: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.user-nav {
  margin-left: 8rem;
  word-break: keep-all;
}

.btn, a.btn {
  background: #005fff;
  border: 0.4rem none;
}

.btn:hover, a.btn:hover {
  background: #5d99ff;
  border: 0.4rem none;
}

/* タブレット表示時 */
@media (max-width: 1024px) {
  header {
    width: 100%;
    margin-bottom: 2rem;
  }
  
  .header-bar {
    width: 100%;
    height: 8vh;
    padding: 0 3vw;
    display: flex;
  }
  
  .header-logo {
    align-items: center;
  }
  
  .nationnote-icon {
    width: 27rem;
    height: 9rem;
  }
  
  .header-nav {
    padding-top: 1.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .user-nav {
    margin-left: 4rem;
    word-break: keep-all;
  }
  
  .btn, a.btn {
    background: #005fff;
    border: 0.4rem none;
  }
  
  .btn:hover, a.btn:hover {
    background: #5d99ff;
    border: 0.4rem none;
  }
}

/* スマートフォン表示時 */
@media (max-width: 599px) {
  header {
    width: 100%;
    margin-bottom: 2rem;
  }
  
  .header-bar {
    width: 100%;
    height: 6vh;
    padding: 0 1vw;
    display: flex;
  }
  
  .header-logo {
    align-items: center;
  }
  
  .nationnote-icon {
    width: 18rem;
    height: 6rem;
  }
  
  .header-nav {
    padding-top: 1.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .user-nav {
    margin-left: 1rem;
    word-break: keep-all;
  }
  
  .btn, a.btn {
    background:	#005fff;
    border: 0.4rem none;
  }
  
  .btn:hover, a.btn:hover {
    background: #5d99ff;
    border: 0.4rem none;
  }
}