header {
  width: 100vw;
}

.header-logo {
  height: 10vh;
  margin-left: 10rem;
}

.user-nav-bar {
  height: 10vh;
  display: flex;
  justify-content: space-around;
}

.user-nav {
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.btn, a.btn {
  background-color: #00ecff;
  border: 0.4rem none #0090bb;
}

.btn:hover, a.btn:hover {
  background: #00ffff;
  border: 0.4rem none #0090bb;
}
