<div class="main row">
  <% @posts.each do |post| %>
    <div class="content-post">
      <p class="head-post"><%= post.title %></p>
      <span class="foot-post country">in <%= post.country.name %></span>
      <%# <span class="foot-post nickname">by <%= post.nickname %>
      <%# </span> %>
      <i class="fas fa-angle-down fa-lg pull-down"></i>
    </div>
  <% end %>
</div>