.container {
  font-family: "Source Sans Pro", Helvetica, Arial, "æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“", "YuGothic", "ãƒ¡ã‚¤ãƒªã‚ª", "Meiryo", sans-serif;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  z-index: 1;
}

.main {
  width: 80%;
  margin: 0 10rem;
  padding: 0 0 1rem 1rem;
  z-index: 2;
  background: #fff;
  opacity: 0.9;
}

.content-post {
  border-top: 1px solid #f0f0f0;
  overflow: scroll;
}

.head-post {
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.4rem;
  line-height: 1.4;
  cursor: pointer;
}

.content-title {
  color: #000;
  text-decoration: none;
}

.sp_br {
  display: block;
}

.foot-post {
  font-size: 1.4rem;
  margin-right: 1rem;
  cursor: pointer;
}

.margin {
  margin-left: 2rem;
}

.pull-down {
  display: inline-block;
  list-style: none;
  float: right;
  margin-right: 5rem;
}

.btn, a.btn {
  color: #fff;
  background: #005fff;
}

.btn:hover, a.btn:hover {
  color: #fff;
  background: #5d99ff;
}

.pull-down-list {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 0.5;
  display: inline-block;
  padding: 1rem;
  margin-left: 1rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1rem;
  color: #fff;
  background-color: #005fff;
  border-radius: 0.5rem;
}

.pull-down-list:hover {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 0.5;
  display: inline-block;
  padding: 1rem;
  margin-left: 1rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1rem;
  color: #fff;
  background: #5d99ff;
  border-radius: 0.5rem;
}

/* タブレット表示時 */
@media (max-width: 1024px) {
  .container {
    font-family: "Source Sans Pro", Helvetica, Arial, "æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“", "YuGothic", "ãƒ¡ã‚¤ãƒªã‚ª", "Meiryo", sans-serif;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    z-index: 1;
  }
  
  .main {
    width: 90%;
    margin: 0 5rem;
    padding: 0 0 1rem 1rem;
    z-index: 2;
    background: #fff;
    opacity: 0.9;
  }
  
  .content-post {
    border-top: 1px solid #f0f0f0;
    overflow: scroll;
  }
  
  .head-post {
    display: inline-block;
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 0.4rem;
    line-height: 1.4;
    cursor: pointer;
  }
  
  .content-title {
    color: #000;
    text-decoration: none;
  }
  
  .sp_br {
    display: block;
  }

  .foot-post {
    font-size: 1.4rem;
    margin-right: 1rem;
    cursor: pointer;
  }
  
  .margin {
    margin-left: 2rem;
  }
  
  .pull-down {
    display: inline-block;
    list-style: none;
    float: right;
    margin-right: 5rem;
  }
  
  .btn, a.btn {
    color: #fff;
    background: #005fff;
  }
  
  .btn:hover, a.btn:hover {
    color: #fff;
    background: #5d99ff;
  }
  
  .pull-down-list {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 0.5;
    display: inline-block;
    padding: 1rem;
    margin-left: 1rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1rem;
    color: #fff;
    background: #005fff;
    border-radius: 0.5rem;
  }
  
  .pull-down-list:hover {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 0.5;
    display: inline-block;
    padding: 1rem;
    margin-left: 1rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1rem;
    color: #fff;
    background: #5d99ff;
    border-radius: 0.5rem;
  }

}

/* スマートフォン表示時 */
@media (max-width: 599px) {
  .container {
    font-family: "Source Sans Pro", Helvetica, Arial, "æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“", "YuGothic", "ãƒ¡ã‚¤ãƒªã‚ª", "Meiryo", sans-serif;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    z-index: 1;
  }
  
  .main {
    width: 90%;
    margin: 0 5rem;
    padding: 0 0 1rem 1rem;
    z-index: 2;
    background: #fff;
    opacity: 0.9;
  }
  
  .content-post {
    border-top: 1px solid #f0f0f0;
    overflow: scroll;
  }
  
  .head-post {
    display: inline-block;
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 0.4rem;
    line-height: 1.4;
    cursor: pointer;
  }
  
  .content-title {
    color: #000;
    text-decoration: none;
  }
  
  .sp_br {
    display: block;
  }
  
  .foot-post {
    font-size: 1.4rem;
    margin-right: 1rem;
    cursor: pointer;
  }
  
  .margin {
    margin-left: 1rem;
  }
  
  .pull-down {
    display: inline-block;
    list-style: none;
    float: right;
    margin-right: 2rem;
  }
  
  .btn, a.btn {
    color: #fff;
    background: #005fff;
  }
  
  .btn:hover, a.btn:hover {
    color: #fff;
    background: #5d99ff;
  }
  
  .pull-down-list {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 0.5;
    display: inline-block;
    padding: 1rem;
    margin-left: 1rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1rem;
    color: #fff;
    background: #005fff;
    border-radius: 0.5rem;
  }
  
  .pull-down-list:hover {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 0.5;
    display: inline-block;
    padding: 1rem;
    margin-left: 1rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1rem;
    color: #fff;
    background: #5d99ff;
    border-radius: 0.5rem;
  }

  .list-none {
    display: none;
  }
}