/* .container、.show-title、.back-to-topはnew.cssと共通 */
.show-top {
  display: flex;
  justify-content: center;
}

.show-sub-wrap {
  font-size: 1.4rem;
  margin-left: 2rem;
  padding-top: 2.5rem;
  cursor: pointer;
}

.show-sub {
  color: #000;
  text-decoration: none;
}

.show-container {
  padding: 2vh 0;
  width: 70rem;
  text-align: center;
  line-height: 1.9;
  font-size: 1.6rem;
}

.position-relative {
  width: 12vw;
  position: relative;
}

.show-container-element {
  padding-bottom: 2vh;
  text-align: left;
}